@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

html {
  background-image: url('./Img/hypnotize_bg.webp');
  font-family: "system";
}

img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}



h1 {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  margin: 0;
}

p {
  margin-left: 70px;
}